$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

$bg: #242933;
$bgSecondary: $nord0;
$fg: $nord6;

$red: $nord11;
$blue: $nord10;
$blue-desaturated: rgb(75, 120, 192);
$yellow: $nord13;
$green: $nord14;
$magenta: $nord15;
$accent: $nord8;

