window.thunar grid *:selected,
window.thunar grid *:active {
  /*background: #3b4252;*/
  border-radius: 3px; }
window.thunar .sidebar {
  background-color: #2e3440;
  /*box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 1);*/
  padding: 1rem; }
window.thunar treeview {
  padding: 3px; }
window.thunar .frame {
  border: 0px; }
window.thunar toolbar box {
  padding: 5px; }
window.thunar toolbar {
  padding: 5px 0; }
