* {
	all: unset;
	background-color: #2E3440;
	font-family: feather;
	font-family: Iosevka;
	}
	
	button {
	border: 0px;
	background: none;
	}
	
	/* time */
	
	$time: 35px;
	$day: 25px;
	
	.hour-side {
	font-size: $time;
	color: #ECEFF4;
	margin-top: 5px;
	}
	
	.dots-side {
	font-size: $time;
	color: #88C0D0; 
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	}
	
	.minutes-side {
	font-size: $time;
	color: #88C0D0;
	margin-top: 5px;
	}
	
	.day-side {
	color: #81A1C1;
	font-size : $day;
	margin-top: -5px;
	}
	
	
	
	/* system */
	
	/* bars colors/height/width */
	
	.cpubar-side, .rambar-side, .batterybar-side, .brightnessbar-side, .volumebar-side, scale trough {
	all: unset;
	background-color: #3B4252; 
	border-radius: 20px;
	min-height: 170px;
	min-width: 15px;
	}
	
	.cpubar-side, .rambar-side, .batterybar-side, .brightnessbar-side, .volumebar-side, scale trough highlight {
	all: unset;
	border-radius: 20px;
	}
	
	.cpubar-side scale trough highlight {
	background-color: #5E81AC;
	}
	
	.rambar-side scale trough highlight {
	background-color: #81A1C1;
	}
	.brightnessbar-side scale trough highlight {
	background-color: #ECEFF4;
	}
	
	.volumebar-side scale trough highlight {
	background-color: #88C0D0;
	}
	
	.batterybar-side scale trough highlight {
	background-color: #8FBCBB; 
	}
	
	
	/* this is to get rid of slider adjust widrh and height to get back */ 
	
	.cpubar-side slider {
	background-color: #5E81AC;
	border: 0px;
	min-height: 0px;
	min-width: 0px;
	}
	
	.rambar-side slider {
	background-color: #81A1C1;
	border: 0px;
	min-width: 0px;
	min-height: 0px;
	}
	
	.brightnessbar-side slider {
	background-color: #ECEFF4;
	border: 0px;
	min-height: 0px;
	min-width: 0px;
	}
	
	.volumebar-side slider {
	background-color: #88C0D0;
	border: 0px;
	min-height: 0px;
	min-width: 0px;
	}
	
	.batterybar-side slider {
	background-color: #8FBCBB; 
	border: 0;
	min-width: 0px;
	min-height: 0px;
	}
	
	/* icons */
	$sysicon-side: 25px;
	
	.cpu-side {
		color: #5E81AC;
		font-size: $sysicon-side;
	}
	
	.ram-side {
		color: #81A1C1;
		font-size: $sysicon-side;
	}
	
	.brightness-side {
		color: #ECEFF4;
		font-size: $sysicon-side;
	}
	
	.volume-side { 
		color: #88C0D0;
		font-size: $sysicon-side;
	}
	
	.battery-side {
		color: #8FBCBB;
		font-size: $sysicon-side;
	}
	
	
	/* music */
	
	.albumart-side {
	background-size: cover;
	background-position: center;
	min-height: 100px;
	min-width: 100px;
	margin: 12px;
	border-radius: 15px;
	}
	
	.song-side {
		color: #ECEFF4;
		font-size : 20px;
		font-weight : bold;
		margin :25px 0px 0px 0px;
	}
	
	
	.album-side {
		color: #5E81AC;
		font-size: 18px;
	}
	
	.artist-side {
		color: #81A1C1;
		font-size: 18px;
	}
	
	.prev-side, .next-side {
		color: #ECEFF4;
		font-size : 35px;
	}
	.play-side {
		color: #88C0D0;
		font-size : 55px;
	}
	
	
	/* poweroptions */
	
	.power-side {
	margin-top: 15px;
	margin-bottom: 15px;
	}
	
	.shutdown-side {
	font-size: 35px;
	margin-right: 5px;
	color: #5E81AC;
	}
	
	.restart-side { 
	font-size: 35px;
	margin-right: 5px;
	color: #81A1C1;
	}
	
	
	.logoff-side {
	font-size: 35px;
	color: #88C0D0;
	}
	
	.lock-side {
	font-size: 35px;
	color: #8FBCBB;
	}
	
	/* date */
	
	.calicon-side {
	color: #88C0D0;
	font-size: 35px;
	}
	
	.dat-side {
	color: #ECEFF4;
	font-size: 35px;
	}
	
	.mon-side {
	color: #5E81AC;
	font-size: 30px;
	}
	
	.weather-icon-side {
		font-size: 65px;
		font-family: Iosevka Nerd Font;
		margin: 5px 30px 5px 30px;
	}
	.weather-stat-side {
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 5px;
		font-weight: bold;
		margin: 5px 0px 0px 0px;
		color: #88C0D0;
	}
	.temperature-side {
		font-size: 18px;
		font-weight: 900;
		padding-top: 15px;
		padding-left: 10px;
		margin: 0px 0px 0px 40px;
		// color: #C678DD;
	  }
	
	.bg-side{
		background-color: #3B4252;
	}