@import "src/scss/overrides";
@import "src/scss/index";
@import "src/scss/widgets/profile";
@import "src/scss/widgets/musicplayer";
@import "src/scss/widgets/systemmanager";
@import "src/scss/widgets/weather";
@import "src/scss/widgets/update";
@import "src/scss/widgets/time";
@import "src/scss/widgets/date";
@import "src/scss/widgets/quote";
@import "src/scss/widgets/fetch";
