* {
    background:                 #2E3440;
    background-alt:             #3B4252;
    border-color:               #2E3440;
    foreground:                 #ECEFF4;
    accent:                     #82B7C7;

    text-color:                 @fg;
}
