@namespace url("http://www.w3.org/1999/xhtml");
:root { 
    scrollbar-color: #ECEFF4 #ECEFF4;
}

* {
    scrollbar-width: thin 
}


@-moz-document url("about:newtab"), url("about:home") {
    * {
        font-family: "Iosevka Nerd Font" !important;
    }

    body {
        background-color: #2E3440 !important;
    }

    .logo-and-wordmark {
        display: none !important;
    }

    .SnippetBaseContainer {
        display: none !important;
    }

    .search-handoff-button {
        border-radius: 15px !important;
        border-width: 4px !important;
        border-color: #4C566A !important;

        background-size: 0px !important;
        background-color: #3B4252 !important;

        padding-inline-start: 10px !important;
        padding-inline-end: 10px !important;
    }

    .icon-settings {
        display: none !important;
    }

    .fake-textbox {
        text-align: center !important;
    }

    .search-wrapper input {
        background-color: #2E3440 !important;
        border-radius: 0px !important;

        background-image: none !important;
        background-size: none !important;
        text-align: center !important;
        font-size: 17px !important;

        padding-inline-start: 10px !important;
        padding-inline-end: 10px !important;
    }

    .search-wrapper input:focus {
        text-align: left !important;
    }

    .body-wrapper {
        display: none !important;
    }
}