$background: #1A1B26;
$background-alt: #16161E;
$background-alt2: #1E202E;
$foreground: #a9b1d6;
$red: #F7768E;
$yellow: #E0AF68;
$orange: #FF9E64;
$green: #9ECE6A;
$blue: #7AA2F7;
$blue2: #88AFFF;
$magenta: #BB9AF7;
$cyan: #73DACA;