/* Confirm Dialog */

* {
    background-color:       #2E3440;
    text-color:             #ECEFF4;
	font:				 	"Iosevka Nerd Font 9";
}

window {
    width:      			160px;
    padding:    			10px;
    border:					3px;
    border-radius:          14px;
    border-color:           #3B4252;
    location:               center;
}

entry {
    expand: 				true;
    text-color:				#ECEFF4;
}
