/* Confirm Dialog */

* {
    background-color:       #2E3440;
    text-color:             #ECEFF4;
	font:				 	"Iosevka Nerd Font 12";
}

window {
    width:      			360px;
    padding:    			25px;
    border:					0px;
    border-radius:          0px;
    border-color:           #ECEFF4;
    location:               center;
    y-offset:               -20px;
}

entry {
    expand: 				true;
    text-color:				#ECEFF4;
}
