/* colors */

* {
 bg:#2E3440;
 bg1:#3B4252;
 bg2:#434C5E;
 bg3:#4C566A;
 fg:#ECEFF4;
 fg1:#E5E9F0;
 fg2:#D8DEE9;
  red: #BF616A;
  orange:#D08770;
  yellow:#EBCB8B;
  magenta:#B48EAD;
  cyan:#88C0D0;
  blue:#81A1C1;
  green:#A3BE8C;
  transparent: #00000000;
}
