.fetchContent {
    font-family: 'Medium';
    font-size: 14px;
    color: #ECEFF4;
    padding-top: 20px;
    padding-bottom: 45px;
  }
  
  .fetch {
    background-color: #2E3440;
    border-radius: 5px;
  }
  
  .fetchTitles {
    color: #5E81AC;
  }
  .dots{
    margin-top: -40px;
    font-size: 12px;
    .pink{
      color: #ECEFF4;
    }.green{
      color: #8FBCBB;
    }.yellow{
      color: #88C0D0;
    }.blue{
      color: #81A1C1;
    }.purple{
      color: #5E81AC;
    }.cyan{
      color:#3B4252;
    }
  }