.quote {
    background-color: #2E3440;
    border-radius: 5px;

    padding: 10px;
    padding-top: 12px;

    .text {
        font-family: "VictorMono Nerd Font";
        color: #88C0D0;
        font-style: italic;
        font-size: 12px;
    }
}