.system-manager {
    background-color: $bgSecondary;
    padding: 1rem;
    padding-bottom: 0rem;
    .a {
        .title {
            color: $fg;
        }
    }

    scale trough {
        background-color: $bg;
        border-radius: 50px;
    
        min-height: 178px;
        min-width: 5px;
    }

    scale trough highlight {
        border-radius: 50px;
    }

    .ram-bar, .disk-bar, .vol-bar, .bri-bar {
        margin: 12px;
    }

    .ram-bar {
        scale trough highlight {
            background-color: $nord7;
        }
    }

    .disk-bar {
        scale trough highlight {
            background-color: $nord8
        }
    }

    .vol-bar {
        scale trough highlight {
            background-color: $nord9
        }
    }

    .bri-bar {
        scale trough highlight {
            background-color: $nord10;
        }
    }
}