/* upgrade */

.package{
    background-color: #2E3440;
    color: #88C0D0;
    font-size: 35px;   
    border-radius: 5px 0px 0px 5px;
}
.updt{
    background-color: #2E3440;
    color: #ECEFF4;
    font-size: 15px;   
    margin-left: -15px;
    border-radius: 0px 5px 5px 0px;
}