.weather{
    background-color: #2E3440;
    border-radius: 5px;
}
.weather-icon{
    font-size: 40px;
    font-family: Iosevka Nerd Font;
    margin-right: -2em;
}
.weather-stat{
    font-size: 13px;
    padding: 3px;
    margin: 5px 0px 0px 0px;
    color: #88C0D0;
}
.temperature{
    font-size: 17px;
    font-weight: 600;
    margin: 0px 4em 0px 0px;
  }