.weather{
    background-color: $bgSecondary;
    border-radius: 5px;
}
.weather-icon{
    font-size: 40px;
    font-family: Iosevka Nerd Font;
    margin-right: -2.5em;
}
.weather-stat{
    font-size: 13px;
    padding: 3px;
    margin: 5px 0px 0px 0px;
    color: $nord9;
}
.temperature{
    font-size: 17px;
    font-weight: 600;
    margin: 0px 4em 0px 0px;
  }