.fetchContent {
    font-family: 'Medium';
    font-size: 14px;
    color: $fg;
    padding-top: 1.4em;
    padding-bottom: 3.3em;
  }
  
  .fetch {
    background-color: $bgSecondary;
    border-radius: 5px;
  }
  
  .fetchTitles {
    color: $blue;
  }
  .dots{
    margin-top: -4em;
    font-size: 12px;
    .red{
      color: $nord6;
    }.green{
      color: $nord7;
    }.yellow{
      color: $nord8;
    }.blue{
      color: $nord9;
    }.magenta{
      color: $nord10;
    }.cyan{
      color: $bg;
    }
  }