.quote {
    background-color: $bgSecondary;
    border-radius: 6px;
    color: $fg;
    padding: 10px;
    padding-top: 12px;

    .text {
        font-family: "VictorMono Nerd Font";
        font-style: italic;
        font-size: 12px;
        color: $nord8;
    }
}