/* upgrade */

.package{
    font-family: Sarasa Mono CL Nerd Font;
    background-color: $bgSecondary;
    color: #1793D0;
    font-size: 35px;   
    border-radius: 5px 0px 0px 5px;
}
.updt{
    background-color: $bgSecondary;
    color: $fg;
    font-size: 15px;   
    margin-left: -1em;
    border-radius: 0px 5px 5px 0px;
}